/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    display: flex;
    background-color: #141922;
    color: white;
}

.nav-bar{
    background-color: black;
    width: 50px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    position: fixed;
}

img{
    width: 50%;
    padding: .5rem 0;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    flex-direction: column;
}

.download{
    width: 70%;
    margin-bottom: 1rem;
}

.user{
    background-color: grey;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-bottom: .5rem;
}

.user>img{
    width: 75%;
    padding-bottom: .7rem;

}

main{
    margin-left: 50px;
}

.upgrade{
    background-color: #080b12;
    width: calc(100vw - 50px);
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 0;
    position: fixed;
    align-items: center;
}

.plane{
    border: 1px solid white;
    border-radius: 25px;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.suggestions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 1.5rem;
}

.font-upper{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

ul{
    list-style-type: none;
    color: grey;
}

li{
    margin: .3rem 0;
    padding: 1rem .7rem;
}

.listened,
.created{
    margin-bottom: 2rem;
}

h1{
    font-size: 26px;
    padding-left: 1.3rem;
}

section.listened>h1{
    margin-bottom: 1.5rem;
}

.space-division{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    justify-content: space-around;
}

article{
    text-align: center;
    width: calc((100% / 2) - 10px);
}

article>img{
    width: 100%;
}

p{
    color: grey;
}

section.created>h1,
section.popular>h1{
    margin: 0 1rem .5rem;
}

section.created>p,
section.popular>p{
    margin-bottom: 1.5rem;
}

section.popular img{
    border-radius: 50%;
}

footer{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100vw;
}











/* @media screen and (min-width: 576px) {
    
} */